# IDE
.idea
.vscode/*

# Chart dependencies
charts/testkube-cloud-api/charts/*.tgz
charts/testkube-cloud-ui/charts/*.tgz
charts/testkube-enterprise/charts/*.tgz

archives/**
# OSX
.DS_Store
**/.DS_Store
