apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "testkube-worker-service.fullname" . }}
  labels:
    {{- include "testkube-worker-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "testkube-worker-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "testkube-worker-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      {{- else if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "testkube-worker-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ include "testkube-worker.image" . }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy | default .Values.image.pullPolicy }}
          env:
            - name: METRICS_LISTEN_ADDR
              value: "0.0.0.0:9100"
            - name: OUTPUTS_BUCKET
              value: "{{ .Values.api.outputsBucket }}"
            - name: NATS_URI
              value: {{ tpl .Values.api.nats.uri $ | quote }}
              {{- if .Values.api.mongo.dsnSecretRef }}
            - name: API_MONGO_DSN
              valueFrom:
                secretKeyRef:
                  key: MONGO_DSN
                  name: {{ .Values.api.mongo.dsnSecretRef }}
              {{- else if .Values.api.mongo.dsn }}
            - name: API_MONGO_DSN
              value: {{ .Values.api.mongo.dsn }}
              {{- end }}
            - name: API_MONGO_DB
              value: {{ .Values.api.mongo.database }}
            - name: MINIO_ENDPOINT
              value: "{{ tpl .Values.api.minio.endpoint . }}"
            - name: MINIO_REGION
              value: "{{ .Values.api.minio.region }}"
            - name: MINIO_SSL
              value: "{{ .Values.api.minio.secure }}"
            - name: MINIO_EXPIRATION
              value: "{{ .Values.api.minio.expirationPeriod }}"
            - name: MINIO_ACCESS_KEY_ID
              {{- if .Values.api.minio.credsSecretRef }}
              valueFrom:
                secretKeyRef:
                  key: root-user
                  name: {{ .Values.api.minio.credsSecretRef }}
              {{- else }}
              value: "{{ .Values.api.minio.accessKeyId }}"
              {{- end }}
            - name: MINIO_SECRET_ACCESS_KEY
              {{- if .Values.api.minio.credsSecretRef }}
              valueFrom:
                secretKeyRef:
                  key: root-password
                  name: {{ .Values.api.minio.credsSecretRef }}
              {{- else }}
              value: "{{ .Values.api.minio.secretAccessKey }}"
              {{- end }}
            - name: MINIO_TOKEN
              {{- if .Values.api.minio.credsSecretRef }}
              valueFrom:
                secretKeyRef:
                  key: token
                  name: {{ .Values.api.minio.credsSecretRef }}
              {{- else }}
              value: "{{ .Values.api.minio.token }}"
              {{- end }}
            {{- range $k, $v := .Values.additionalEnv }}
            - name: {{ $k }}
              value: "{{ $v }}"
            {{- end}}
            {{- if .Values.externalSecrets.enabled -}}
            {{- range $key, $value := .Values.externalSecrets.keys }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  key: {{ $value }}
                  name: api-external-secrets
            {{ end }}
            {{- end}}
          ports:
            {{- if .Values.prometheus.enabled }}
            - name: metrics
              containerPort: 9100
              protocol: TCP
            {{- end }}
          {{- if .Values.prometheus.enabled }}
          livenessProbe:
            httpGet:
              path: /metrics
              scheme: HTTP
              port: metrics
          readinessProbe:
            httpGet:
              path: /metrics
              scheme: HTTP
              port: metrics
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
