apiVersion: v2
name: testkube-enterprise
description: A Helm chart for Testkube Enterprise
type: application
version: 1.129.7
dependencies:
  - name: common
    version: 2.13.3
    repository: https://charts.bitnami.com/bitnami
  - name: testkube-cloud-api
    version: 1.70.1
    repository: file://../testkube-cloud-api
  - name: testkube-cloud-ui
    version: 1.57.1
    repository: file://../testkube-cloud-ui
  - name: testkube-worker-service
    version: 1.37.1
    repository: file://../testkube-worker-service
  - name: testkube
    alias: testkube-agent
    version: 2.0.14
    repository: https://kubeshop.github.io/helm-charts
    condition: testkube-agent.enabled
  - name: dex
    version: 0.18.0
    repository: file://./charts/dex
    condition: dex.enabled
  - name: mongodb
    version: 14.11.1
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
  - name: nats
    version: 1.2.0
    repository: https://nats-io.github.io/k8s/helm/charts/
    condition: nats.enabled
  - name: minio
    version: 14.6.16
    repository: file://./charts/minio
    condition: minio.enabled
maintainers:
  - name: testkube
    url: https://testkube.io
icon: https://assets.website-files.com/61e00b3936e571a4ea7a5a4c/623b2bb9387ad04955b1f82c_testkube.svg
home: https://github.com/kubeshop/testkube-cloud-charts
