name: Test
on: pull_request

permissions:
  contents: read

jobs:
  chart-test:
    name: Test Chart update script
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Test Helm chart update script
        run: ./scripts/update_test.sh